* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(15211.jpg);
  background-size: cover;
  background-position: bottom;
  font-family: sans-serif;
  background-size: 1004px;
  height: 700px;
}
.background-image {
  max-width: 900px;
  min-width: 600px;
  background-size: cover;
}
.menu-bar {
  background: rgb(0, 100, 0);
  width: 100vw;
  text-align: center;
  align-items: flex-start;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: white;
}

.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: white;
}

.menu-bar ul li:hover {
  background: #2bab0d;
  border-radius: 3px;
}

.menu-bar ul li:hover {
  background: #2bab0d;
  border-radius: 3px;
}

.menu-bar .fa {
  margin-right: 1px;
}

.sub-menu-1 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(0, 100, 0);
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #b2ff00;
}

.logo {
  width: 80px;
  border-radius: 30px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.sub-menu-2 {
  display: none;
}

.menu-bar ul li:link .sub-menu-2 ul li logo:hover {
  display: block;
  margin: 10px;
}

a.logo {
  display: block;
}
